body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #333;
}

.password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#password {
    flex-grow: 1;
    padding: 8px;
    font-size: 16px;
    text-align: center;
    margin-right: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

#generate {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#generate:hover {
    background-color: #3e8e41;
}

.options {
    display: flex;
    flex-direction: column;
}

.options label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #333;
}

.options input[type="number"] {
    margin-left: auto;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 60px;
}

.options input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
}
